.l-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  @media screen and (max-width: 1050px) { width: 95%; }
}

.l-jumbotron {
  width: 100%;
}
